# All infrastructure changes require review

_.tf @kornerstonecoker
_.tfvars @kornerstonecoker
.github/workflows/ @kornerstonecoker
modules/ @kornerstonecoker
environments/ @kornerstonecoker
docs/ @kornerstonecoker
